{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block local_stylesheet %}
    <link href={% static "transactions/css/payapp.css" %} rel="stylesheet">
    <link href={% static "transactions/css/requests_list.css" %} rel="stylesheet">
{% endblock %}


{% block title %}
    Requests
{% endblock %}

{% block account_nav %}
    {% with logged_in=user.is_authenticated requests_active='active' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="section container">
        <h1 class="section__heading h1 mb-5">Requests</h1>

        <h3 class="h2">Action Required</h3>
        {% if requests_pending %}
            <div class="transactions-list table-responsive mb-5">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Description</th>
                        <th scope="col">Currency</th>
                        <th scope="col">In</th>
                        <th scope="col">Out</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in requests_pending %}
                        <tr>
                            <td>{{ request.date }}</td>
                            {% if request.sign %}
                                <td>You</td>
                                <td>{{ request.user_email }}</td>
                            {% else %}
                                <td>{{ request.user_email }}</td>
                                <td>You</td>
                            {% endif %}
                            <td>{{ request.description }}</td>
                            <td>{{ request.currency }}</td>
                            {% if request.sign %}
                                <td class="transactions-list__amount transactions-list__amount--in">{{ request.amount }}</td>
                                <td></td>
                            {% else %}
                                <td></td>
                                <td class="transactions-list__amount transactions-list__amount--out">{{ request.amount }}</td>
                            {% endif %}
                            <td class="request-status"><a
                                    href="{% url 'requests_update_status' request.pk %}"
                                    class="btn btn-warning">{{ request.status }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center text-secondary mb-5">
                No pending requests needing your attention at the moment.
            </p>
        {% endif %}

        <h3 class="h2">All Requests</h3>
        {% if requests_history %}
            <div class="transactions-list table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Description</th>
                        <th scope="col">Currency</th>
                        <th scope="col">In</th>
                        <th scope="col">Out</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in requests_history %}
                        <tr>
                            <td>{{ request.date }}</td>
                            {% if request.sign %}
                                <td>You</td>
                                <td>{{ request.user_email }}</td>
                            {% else %}
                                <td>{{ request.user_email }}</td>
                                <td>You</td>
                            {% endif %}
                            <td>{{ request.description }}</td>
                            <td>{{ request.currency }}</td>
                            {% if request.sign %}
                                <td class="transactions-list__amount transactions-list__amount--in">{{ request.amount }}</td>
                                <td></td>
                            {% else %}
                                <td></td>
                                <td class="transactions-list__amount transactions-list__amount--out">{{ request.amount }}</td>
                            {% endif %}
                            <td class="request-status--{{ request.status }}">{{ request.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center text-secondary">
                You don't have any other requests...
            </p>
        {% endif %}
    </div>
{% endblock %}