.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section__heading {
    text-align: start;
}

.about-us-cover {
    background-size: cover;
    background-position: center;
    min-height: 20rem;
}