.content {
    justify-content: start !important;
}

.balance {
    font-weight: bold;
    font-size: 4rem;
}

.currency--GBP::before {
    content: '\00A3';
}

.currency--USD::before {
    content: '\0024';
}

.currency--EUR::before {
    content: '\20AC';
}

.panel__button--large {
    font-size: 1.5rem;
    font-weight: bold;
}