.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section__heading {
    text-align: center;
}

.section__heading--text-red {
    color: #c77b7b !important;
}