{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block local_stylesheet %}
    <link href={% static "register/css/register.css" %} rel="stylesheet">
{% endblock %}

{% block title %}
    My Dashboard
{% endblock %}

{% block content %}
    <div class="section container">
        <h1 class="section__heading h1">Welcome back, {{ user.first_name }}!</h1>
        <p class="text-justify mt-10">
            <a href="{% url 'logout' %}">Log out</a>.
        </p>
    </div>
{% endblock %}